body{
 background-position: fixed;
 color: rgb(0, 0, 0);
 font-size: 20px;
 font-weight: 300;
 font-family: Raleway;
 background-color:rgb(255, 255, 255);
 width: 100%;
 height: 100%;
 margin: 0px;
 padding: 0px;
 overflow-x: hidden; 
}

h1 {
 font-weight: 500;
}

h2 {
 font-family: Raleway;
 font-size: 30px;
 text-align: center;
 padding-bottom: 30px;
 color: black;
 text-transform: uppercase;
 letter-spacing: 2pt;
}

h3 {
 font-weight: 300px;
 font-size: 15px;
 text-transform: uppercase;
 color: black;
}

.click {
	font-size: 20px;
	color: black;
	position: relative;
	top: -10px;
	left: 370px;
	font-family: Railway;
}

p {
 font-family: Helvetica;
 font-size: 18px;
 line-height: 30px;
 text-align: center;
 margin: auto;
 width: 80%;
}

.myHeader{
 width: 100%;
 height: 100px;
 position: fixed;
 background-color: black;
 margin-top: -10px;
 z-index: 5;
}

.container {
width: 100%;
margin: auto;
}

nav {
 float: right;
 padding-bottom: 0px;
}

nav ul {
 margin: 0;
 padding-right: 40px;
 list-style: none;
}

nav li {
 display: inline-block;
 margin-left: 40px;
 padding-top: 46px;
 position: relative;
}

nav a {
 font-size: 14px;
 color:white;
 text-decoration: none;
 text-transform: uppercase;
}

nav a:hover {
 color: white
}

nav a::before {
 content: '';
 display: block;
 height: 5px;
 background-color: black;

 position: absolute;
 top: 0;
 width: 0%;

 transition: all ease-in-out 250ms;
}

nav a:hover::before {
 width: 100%;
}

.alignleft {
  font-size: 30px;
  color: white;
  float: left;
  margin-left: 70px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.aligntop {
  float: left;
}

a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.imagecard{
 border-bottom:rgb(0, 0, 0);
 border-bottom: solid;
}

.click {
	font-size: 20px;
	color: black;
	position: relative;
	top: -10px;
	left: 370px;
	font-family: Railway;
}

/* Album */
#albumRow{
 display: inline-block;
}

.album {
position: relative;
top: -30px;
right: 300px;
}

#myFrameisac{
  margin-right: 600px;
  margin-top: 20px;
}

#myFrameisac2{
  margin-right: 600px;
  margin-top: -20px;
}

.descriptiontext {
 padding: 60px;
 text-align: left;
 margin-inline: 250px;
 margin-left: 550px;
 margin-top: -490px;
}

#al{
 padding: 10px;
}

#isac{
display: none;
 background-color:hsl((0, 8%, 65%));
}

#isac2{
  display: none;
  background-color:hsl((0, 8%, 65%));
}

.wrapper {
 text-align: center;
 color: rgb(0, 0, 0);   
 width: 100%;
 background-color:white;
  padding-top: 80px;
 padding-bottom: 200px;
}

.discoheading {
 color: rgb(204, 204, 204);
}

.aboutheading {
 color: rgb(243, 243, 243);
}

#disco {
 color: rgb(185, 185, 185);
 background-color:rgb(46, 46, 46);
}

#about {
 color: rgb(185, 185, 185);
 background-color:rgb(46, 46, 46);
}

#abouttext {
text-align: center;
color: rgb(243, 243, 243);
margin-left: 10%;
margin-right: 10%;
}

#newstext {
text-align: center;
color: rgb(0, 0, 0);
margin-left: 10%;
margin-right: 10%;
}

/* slideshow*/

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
width: 100%;
border-bottom:rgb(0, 0, 0);
border-bottom: solid;
 margin: auto;
}


/* The dots/bullets/indicators */
.dot {
 height: 15px;
 width: 15px;
 margin: 0 2px;
 background-color: #bbb;
 border-radius: 50%;
 display: inline-block;
 transition: background-color 0.6s ease;
}

.active {
 background-color: #717171;
}
 



/*Videos*/
/*arrows*/
.arrow__left {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 40px 30px 0;
  border-color: transparent rgb(8, 0, 119) transparent transparent;
  left: 0;
  margin-left: 18%;
  opacity: 0.5;
}

.arrow__right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent rgb(8, 0, 119);
  right: 0;
  margin-right: 15%;
  opacity: 0.5;
}

.carousel {
display: flex;
width: 100%;
height: 100%;
align-items: center;
font-family: Arial;
}

.carousel__list {
display: flex;
list-style: none;
position: relative;
width: 100%;
height: 300px;
justify-content: center;
perspective: 300px;
}

.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 75vh;
  height: 250px;
  position: absolute;
  transition: all .3s ease-in;
}


/*
:nth-child(1) {
  background: linear-gradient(45deg, #2D35EB 0%, #904ED4 100%);
  background: transparent;
}
:nth-child(2) {
  background: linear-gradient(45deg, #2D35EB 0%, #fdbb2d 100%);
  background: transparent;
}
:nth-child(3) {
  background: linear-gradient(45deg, #2D35EB 0%, #22c1c3 100%);
  background: transparent;
}
:nth-child(4) {
  background: linear-gradient(45deg, #fdbb2d 0%, #904ED4 100%);
  background: transparent;
}
:nth-child(5) {
  background: linear-gradient(45deg, #22c1c3 0%, #904ED4 100%);
  background: transparent;
}
*/

  [data-pos="0"] {
    z-index: 5;
  }
  
  [data-pos="-1"],
  [data-pos="1"] {
    opacity: 0.7;
    filter: blur(1px) grayscale(10%);
  }
  
  [data-pos="-1"] {
    transform: translateX(-30%) scale(.9);
    z-index: 4;
  }
  
  [data-pos="1"] {
    transform: translateX(30%) scale(.9);
    z-index: 4;
  }
  
  [data-pos="-2"],
  [data-pos="2"] {
    opacity: 0;
    filter: blur(3px) grayscale(20%);
  }
  
  [data-pos="-2"] {
    transform: translateX(-45%) scale(.8);
    z-index: 3;
  }
  
  [data-pos="2"] {
    transform: translateX(45%) scale(.8);
    z-index: 3;
  }


/*Pictures*/
.pic-container {
	margin: 0 auto;
	width: 100vh;
	max-height: 70vh;
	background-color: white;
  padding-top: 50px;
}


/* Useful Classes */
.xy-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.transition {
	transition: all 350ms ease-in-out;
}

.r-3-2 {
	width: 100%;
	padding-bottom: 66.667%;
	background-color: #ddd;
}

.image-holder {
  background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/* Main Styles */
.gallery-wrapper {
	position: relative;
	overflow: hidden;
}

.gallery {
	position: relative;
	white-space: nowrap;
	font-size: 0;
}

.item-wrapper {
	cursor: pointer;
	width: 23%; /* arbitrary value */
	display: inline-block;
	background-color: white;
}

.gallery-item { opacity: 0.5; }
.gallery-item.active { opacity: 1; }

.controls {
	font-size: 0;
	border-top: none;
}
.move-btn {
	display: inline-block;
	width: 50%;
    height: 100px;
	border: none;
  color: rgb(0, 0, 0);
	background-color: transparent;
	padding: 0.2em 1.5em;
}
.move-btn:first-child {border-right: none;}
.move-btn.left  { cursor: w-resize; }
.move-btn.right { cursor: e-resize; }
