body {
  background-position: fixed;
	background: #212121;
	font-size:20px;
	line-height: 30px;
	color: whitesmoke;
	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
  font-family: Raleway;
  justify-content: space-evenly;
	}

h1 {
	font-size: 60px;
	text-align: center;
	color: whitesmoke;
  margin-top: 100px;
  line-height: 70px;
  font-family: Raleway;
}	

h2 {
	font-size: 15px;
	line-height: 34px;
	text-align: center;
	color: whitesmoke;
}

h3 {
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	color: whitesmoke;
}

h3 a {
	color: whitesmoke;
}

a {
	color: whitesmoke;
}

#container {
	margin: 0 auto;
	max-width: 890px;
}

p {
	text-align: center;
}

.toggle,
[id^=drop] {
	display: none;
}

nav { 
	margin:0;
	padding: 0;
	background-color: #254441;
}

#website1 {
	display: block;
	padding: 0 30px;
	float: left;
	font-size:20px;
	line-height: 60px;
}

#website2 {
  display: block;
  float: right;
  padding: 0 50px;
	font-size:20px;
  line-height: 60px;
}

nav:after {
	content:"";
	display:table;
	clear:both;
}

nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	margin: 23px;
  padding: -20px;
	display: block;
	float: left;
	background-color: #254441;
	}

nav a {
	display: block;
	padding: 14px 20px;	
	color: whitesmoke;
	font-size: 17px;
	text-decoration: none;
}

nav ul li ul li:hover {
   background: black; 
  }

nav a:hover { 
	background-color: black; 
}

nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; 
}
	
nav ul li:hover > ul {
	display:inherit;
}

.news{
  width: auto;
  margin: 0 auto;
  padding: 20px;
  margin-inline: 50px;
  display: block;
  color: whitesmoke;  
  font-size: 30px;
  text-align: center;
 }

 .albums{
  width: 100%;
  margin: 0 auto;
  margin-left: 100px;
}

.videos{
  width: 100%;
  margin: 0 auto;
  margin-left: 50px;
 }
 
 .pictures {
  width: 100%;
  margin: 0 auto;
  margin-left: 50px;
 }
 
 .click{
  text-align: right;
  font-size: 20px;
  margin-left: 500px;
}

 .about{
  width: auto;
  margin: 0 auto;
  padding: 50px;
  display: block;
  margin-inline: 50px;
  text-align: center;
  color: white;  
  width: auto;
  font-size: 30px;
 }


/* Media Queries-------------------------*/

@media all and (max-width : 768px) {

	#website1 {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

  #website2 {
		display: block;
		padding: 0;
		width: 100%;
		text-align: right;
		float: none;
	}

	nav {
		margin: 0;
	}

	.toggle + a,
	.menu {
		display: none;
	}

	.toggle {
		display: block;
		background-color: #254441;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #000000;
	}

	[id^=drop]:checked + ul {
		display: block;
	}

  nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000000;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
	}

	nav ul ul {
		float: none;
		position: static;
		color: whitesmoke;
	}
		
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}

.news{
  width: auto;
  margin: 0 auto;
  padding: 20px;
  display: block;
  color: whitesmoke;  
  width: auto;
  font-size: 20px;
  text-align: center;
 }

 .albums{
  width: 100%;
  margin: 0 auto;
  margin-left: 10px;
}

 img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 50px;
}

td {
  font-size: 15px;
  text-align: left;
  float: left;
  padding: -5px;
}

.videos{
  width: 100%;
  margin: 0 auto;
  margin-left: 10px;
 }
 
 .pictures {
  width: 100%;
  margin: 0 auto;
  margin-left: 10px;
 }

 .click{
  text-align: right;
  margin-left: 70px;
  font-size: 15px;
}

.about{
  width: auto;
  margin: 0 auto;
  padding: 20px;
  display: block;
  color: whitesmoke;  
  width: auto;
  font-size: 20px;
  text-align: center;
 }
}

@media all and (max-width : 330px) {
	nav ul li {
		display:block;
		width: 94%;
	}
}
