body {
	margin: 0;
	padding: 0;
  background-position: fixed;
	background: black;
	font-size: 20px;
	color: white;
	word-wrap:break-word !important;
  font-family: Raleway;
	}

	* {box-sizing: border-box}
	body {font-family: Verdana, sans-serif; margin:0}
	.mySlides {display: none}
	img {vertical-align: middle;}
	
	/* Slideshow container */
	.slideshow-container {
			max-width: 1000px;
			position: relative;
			margin: auto;
	}
	
	/* Next & previous buttons */
	.prev, .next {
			cursor: pointer;
			position: absolute;
			top: 50%;
			width: auto;
			padding: 16px;
			margin-top: -22px;
			color: white;
			font-weight: bold;
			font-size: 18px;
			transition: 0.6s ease;
			border-radius: 0 3px 3px 0;
			user-select: none;
	}
	
	/* Position the "next button" to the right */
	.next {
			right: 0;
			border-radius: 3px 0 0 3px;
	}
	
	/* On hover, add a black background color with a little bit see-through */
	.prev:hover, .next:hover {
			background-color: rgba(0,0,0,0.8);
	}
	
	/* Caption text */
	.text {
			color: #f2f2f2;
			font-size: 15px;
			padding: 8px 12px;
			position: absolute;
			bottom: 8px;
			width: 100%;
			text-align: center;
	}

	
	/* The dots/bullets/indicators */
	.dot {
			cursor: pointer;
			height: 15px;
			width: 15px;
			margin: 0 2px;
			background-color: #bbb;
			border-radius: 50%;
			display: inline-block;
			transition: background-color 0.6s ease;
	}
	
	.active, .dot:hover {
			background-color: #717171;
	}
	
	/* Fading animation */
	.fade {
			-webkit-animation-name: fade;
			-webkit-animation-duration: 1.5s;
			animation-name: fade;
			animation-duration: 1.5s;
	}
	
	@-webkit-keyframes fade {
			from {opacity: .4} 
			to {opacity: 1}
	}
	
	@keyframes fade {
			from {opacity: .4} 
			to {opacity: 1}
	}
	
	/* On smaller screens, decrease text size */
	@media only screen and (max-width: 300px) {
			.prev, .next,.text {font-size: 11px}
	}


h1 {
	font-size: 60px;
	text-align: center;
	color: white;
 margin-top: 100px;
 font-family: Raleway;
	line-height: 70px;
}	

h2 {
	font-size: 15px;
	text-align: center;
	color: whitesmoke;
}

h3 {
	font-size: 20px;
	color: white;
	position: relative;
	top: -10px;
	left: 370px;
}

h3 a {
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

#container {
	margin: 0 auto;
	max-width: 890px;
}

p {
	text-align: center;
}

.toggle,
[id^=drop] {
	display: none;
}

nav { 
	margin:0;
	padding: 0;
	background-color: black;
}

#orchestra {
	display: block;
	padding: 0 30px;
	float: left;
	font-size:20px;
	line-height: 60px;
}

#greenisac {
  display: block;
  float: right;
  padding: 0 50px;
	font-size:20px;
  line-height: 60px;
}

nav:after {
	content:"";
	display:table;
	clear:both;
}

nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	margin: 23px;
 padding: -20px;
	display: block;
	float: left;
	}

nav a {
	display: block;
	padding: 14px 20px;	
	color: white;
	font-size: 17px;
	text-decoration: none;
}

nav ul li ul li:hover {
   background: black; 
 }

nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; 
}
	
nav ul li:hover > ul {
	display:inherit;
}

.news{
  width: auto;
  margin: 0 auto;
  padding: 20px;
  margin-inline: 80px;
  display: block;
  color: white;  
  font-size: 30px;
  text-align: center;
 }
	
	.discography {
  text-align: center;
		 width: 100%;
}

	#disco{
		width: 100%;
		margin: 0 auto;
		padding: 300px;
		margin-top: -300px;
		margin-left: 10px;
	}

	.media {
		text-align: center;
		width: 100%;
	}

	.media-h2 {
	position: relative;
	top: -200px;
	left: 15px;
}
	
#videos{
	width: 100%;
	margin: 0 auto;
	margin-top: -200px;
	margin-left: 10px;
}

#pictures{
	width: 100%;
	margin: 0 auto;
	margin-top: 30px;
	margin-left: 10px;
}

.about{
	width: auto;
	margin: 0 auto;
	padding: 50px;
	display: block;
	margin-inline: 80px;
	text-align: center;
	color: white;  
	font-size: 30px;
}

.contact{ 
	background-color:#212121;
	width: 300px;
	border: 15px;
	padding: 50px;
	margin: 20px;
	font-size: 25px;

}
.contact-header {
	position: relative;
	bottom: 100px;
	left: 500px;
}

.subcribe{
	position: relative;
	width: 300px;
	bottom: 500px;
	left: 700px;
}
/* Media Queries For Desktop & Mobiles__________________*/

@media all and (max-width : 768px) {

	#orchestra {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

  #greenisac {
		display: block;
		padding: 0;
		width: 100%;
		text-align: right;
		float: none;
	}

	nav {
		margin: 0;
	}

	.toggle + a,
	.menu {
		display: none;
	}

	.toggle {
		display: block;
		background-color: #254441;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #000000;
	}

	[id^=drop]:checked + ul {
		display: block;
	}

  nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000000;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
	}

	nav ul ul {
		float: none;
		position: static;
		color: whitesmoke;
	}
		
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}

.news{
  width: auto;
  margin: 0 auto;
  padding: 20px;
  display: block;
  color: whitesmoke;  
  width: auto;
  font-size: 20px;
  text-align: center;
 }

 .albums{
  width: 100%;
  margin: 0 auto;
  margin-left: 10px;
}

 img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 50px;
}

td {
  font-size: 15px;
  text-align: left;
  float: left;
  padding: -5px;
}

.videos{
  width: 100%;
  margin: 0 auto;
  margin-left: 10px;
 }
 
 .pictures {
  width: 100%;
  margin: 0 auto;
  margin-left: 10px;
 }

.about{
  width: auto;
  margin: 0 auto;
  padding: 20px;
  display: block;
  color: whitesmoke;  
  width: auto;
  font-size: 20px;
  text-align: center;
 }
}

@media all and (max-width : 330px) {
	nav ul li {
		display:block;
		width: 94%;
	}
}
