body{
  background-position: fixed;
  color: white;
  font-size: 20px;
  font-weight: normal;
  font-family: Raleway;
  background-color:rgb(126, 111, 111);
}

.myHeader{
  background-color: rgb(9, 92, 64);
  width: 100%;
  
}

.container {
 width: 80%;
 margin: auto;
}

header {
 background: black;
}

header::after {
 content: '';
 display: table;
 clear: both;
}

.content {
 float: left;
 padding: 10px 0;
}

nav {
 float: right;
}

nav ul {
 margin: 0;
 padding: 0;
 list-style: none;
}

nav li {
 display: inline-block;
 margin-left: 70px;
 padding-top: 23px;

 position: relative;
}

nav a {
 color:white;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 14px;
}

nav a:hover {
 color: white
}

nav a::before {
 content: '';
 display: block;
 height: 5px;
 background-color: black;

 position: absolute;
 top: 0;
 width: 0%;

 transition: all ease-in-out 250ms;
}

nav a:hover::before {
 width: 100%;
}

.alignleft {
  font-size: 30px;
  float: left;
  margin-left: 70px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.alignright {
  float: right;
  margin-right: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.aligntop {
  float: left;
}

a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

h2 {
  font-family: Raleway;
  text-align: center;
}

.news{
  z-index: 1;
  text-align: center;
  top: 37%;
  color: white;   
  width: 100%;
  background-color:black;
  border: 5px solid black;
}

.discograpghy{
  position: absolute;
  z-index: 2;
  text-align: center;
  color: white;   
  width: 95%;
  background-color:black;
  border: 5px solid black;
}

.media{
  position: absolute;
  z-index: 3;
  text-align: center;
  bottom: -2100px;
  color: white;   
  width: 100%;
  background-color:black;
  border: 5px solid black;
}

.column {
  float: left;
  width: 48%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
     
.imagecard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  }

.about{
  position: absolute;
  z-index: 4;
  text-align: center;
  color: white;   
  bottom: -600px;
  width: 70%;
  left: 15%;
  background-color:black;
  border: 5px solid black;
}

.contact{
  position: fixed;
  z-index: 5;
  text-align: center;
  color: white;   
  width: 100%;
  left: 2%;
  bottom: -1300px;
  background-color:black;
  border: 5px solid black;
}
