body{
  background-position: fixed;
  color: white;
  font-size: 15px;
  font-weight: normal;
  font-family: Spectral;
  background-color:blue;
}

.h3 {
  position: absolute;
  text-align: right;
  float: right;
}

.imagecard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about{
  position: absolute;
  z-index: 1;
  text-align: center;
  color: white;   
  width: 70%;
  background-color:black;
  border: 5px solid black;
}

.discography {
  position: absolute;
  text-align: center;
  color: white;   
  width: 100%;
  background-color:black;
  border: 5px solid black;
}
  
.discocard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}


.media {
  z-index: 2;
  text-align: center;
  top: 37%;
  color: white;   
  width: 100%;
  background-color:black;
  border: 5px solid black;
}

.column {
  float: left;
  width: 48%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.contact{
  position: absolute;
  text-align: center;
  z-index: 3;
  color: white;   
  width: 100%;
  left: 2%;
  top: 420%;
  background-color:black;
  border: 5px solid black;
}